<li ng-class="{active:(head.path()==='main')}"><a href="#!/main">Главная</a></li>
<li class="divider"></li>
<li ng-class="{active:(head.path()==='price')}"><a href="#!/price">Цены</a></li>
<li class="divider"></li>
<li ng-class="{active:(head.path()==='contact')}"><a href="#!/contact">Контакты</a></li>
<li class="divider"></li>
<li ng-class="{active:(head.path()==='shipping')}"><a href="#!/shipping">Доставка</a></li>
<li class="divider"></li>
<li ng-class="{active:(head.path()==='cabinet')}"><a href="#!/cabinet">Личный кабинет</a></li>