<p>
	<a ng-href="#!/price">
	<div class="photo photo_left z-depth-1">
		<div class="photo__box photo__bg_gmo"></div>
	</div>
	</a>
	Разговоры о здоровом образе жизни сегодня стали не только популярными, но и злободневными. В первую очередь это касается <span class="bold">употребления в пищу продуктов</span>, содержащих измененные, генно-модифицированные компоненты. Где купить овощи, которые будут на <span class="bold">100% натуральными?</span>
</p>
<p>
	Очень многих людей в настоящее время мучает вопрос такого плана: что, если я куплю фрукты, а они окажутся с ГМО? Как отличить модифицированный продукт от натурального? Косвенно можно определить наличие ГМО в овощах и фруктах, если знать <span class="bold">страну</span>, из которой они привезены. <span class="bold">Почти 60% зарубежных поставок сои и картофеля – генно-модифицированные.</span>
</p>
<p>
	<div class="photo photo_right z-depth-1">
		<div class="photo__box photo__bg_prod"></div>
	</div>
	Прежде всего, нужно смотреть на внешний вид продукта. Картофель стандартного размера, “один в один” – явно с ГМО; груша без единого изъяна также 100% трансгенная; помидоры, которые так красивы, что прямо просятся на рекламный плакат, – тоже неестественны. <span class="bold">Природой создаются фрукты и овощи не идеальной формы, каждое ее творение индивидуально и не похоже на другое.</span>
</p>
<p>
	Наша компания пользуется передовыми технологиями, что позволяет <span class="bold">снизить стоимость</span> выпускаемых продуктов. В частности мы используем <a href="http://www1.fips.ru/fips_servl/fips_servlet?DB=RUPAT&DocNumber=2565717&TypeFile=html" target="_blank" title="Патент" class="href_hide">инновационные технологии</a> в области сельского хозяйства, благодаря которым наш урожай всегда хорошего качества
</p>
<p>
	Наша компания производит продукцию, <span class="bold">отвечающее необходимым санитарным и прочим требованиям.</span> Мы даем возможность городским потребителям, приобретать, качественные и натуральные продукты питания.
</p>
<h5 class="right-align"><span class="bold">Убедитесь сами!</span></h5>